<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>

</head>
<style>
    /* css */
    /* selector { p1:valor; pl:valor;}*/
    h1 {
        color: red;
        background-color: yellow;
    }

    p, h2, div {
        color: green;
        background-color: orange;
    }

    #adios {
        color: pink;
        background-color: purple;
    }/* selector => Clase */
        .verde {
            color:brown;
            background-color:blue;
        }

</style>
<body>
    <h1>Hola</h1>
    <h1 id="adios" >Adios</h1>
    <h1 class="verde">Bienvenidos</h1>
    <p>Barcelona</p>
    <div>Liga</div>
<h2>Emeleeec</h2>
</body>
</html>
